body {
    padding: 20px;
}

button {
    margin-right: 5px;
    margin-top: 8px;
}

input {
    margin-top: 8px;
}

.inline {
    display: inline;
}

.spanPointer {
    cursor: pointer;
}

a {
    margin-left: 5px;
}